// Define variables for your color scheme

// For example:
$red: #E8453C;
$blue: #4688F1;
$yellow: #F9BB2D;
$orange: #E67E22;
$green: #3AA757;
$grey: #E6E6E6;
$light-grey: #F4F4F4;
$dark-grey: #616668;
